body {
    background-image: url('../photos/img8.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    color: white;
    font-size: large;
}

.quotes {
    color: black;
}

.media content-section {
    padding: 10px;

    border-radius: 3px;

}

.card-header {
    color: black;
}

a.article-title:hover {
    text-decoration: none;

}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}